<h1>prénom : <%=@user.first_name%></h1>
<h1>nom : <%=@user.last_name%></h1>
<h1>description : "<%=@user.description%>"</h1>
<h1>email : <%=@user.email%></h1>
<h1>age : <%=@user.age%></h1>
<h1>ville : <%=@user.city.name%></h1>
